@page
@model WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 bg-white m-auto rounded-top rounded-bottom wrapper">
            <h2 class="text-center py-3">Login</h2>

            <form method="post" class="py-3">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </span>
                    <input type="text" asp-for="UserVM.Username" class="form-control" placeholder="Username">
                    <div class="input-group mb-auto">
                        <span asp-validation-for="UserVM.Username"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                        </svg>
                    </span>
                    <input type="password" asp-for="UserVM.Password" class="form-control" placeholder="Password">
                    <div class="input-group mb-auto">
                        <span asp-validation-for="UserVM.Password"></span>
                    </div>
                </div>
                <div class="d-grid py-3">
                    <button type="submit" value="submit" class="btnc my-1">Login</button>
                    <p class="text-center pt-3">
                        Alerady have an account? <a asp-page="/Signup">Signup here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>