@page
@model WebApp.Pages.OrderPlacedModel
@{
    ViewData["Title"] = "Order placed successfully";
}
<div>
    <h2 class="text-center pt-3">Order Placed Successfully</h2>
</div>
</div>
<div>
    <form method="post" asp-page-handler="">
        <button type="submit" class="btn btnc btn-block btn-lg">Return To Home Page</button>
    </form>
</div>