@page
@model WebApp.Pages.UsernameTakenModel
@{
}
<div>
    <h3 class="text-center pt-3">This username is already taken, please select a new one</h3>
</div>
<div>
    <form method="post" asp-page-handler="">
        <button type="submit" class="btn btnc btn-block btn-lg">Return To Signup</button>
    </form>
</div>